@font-face {
	font-family: 'Perfect DOS';
	src: url('../assets/fonts/Perfect DOS VGA 437.ttf')  format('truetype');
}

@font-face {
	font-family: 'Alagard';
	src: url('../assets/fonts/alagard.ttf')  format('truetype');
}

.container {
	height: 100%; 
	display: flex;
	text-align: center;
	place-items: center;
}

.banner {
	color: white;
	border-color: #040021 !important;
	position: absolute;
	background-color: #362554;
	width: 100vw;
	left: 0;
	height: 45px;
}

#logo {
	margin: 5px 5px;
	size: 40px 40px;
	position: absolute;
	left: 5px;
}

#banner-links {
	position: absolute;
	margin: 12px;
	right: 10px;
}

#title {
	font-family: 'Alagard' !important;
	font-size: 72px;
	color: #ff6f00;
	text-shadow: 4px 4px #8f0018, 5px 5px #000000;
	margin: 0px;
}

#socials {
	margin: 0px 30px;
	text-align: center;
}

.link {
	margin: 0px 22px;
}

.link:hover::before {
    content: "> ";
    position: absolute;
	left: -20px;
}

.center-content {
	text-align: center;
	width: 100%;
}

#description {
	text-align: left;
	max-width: 1000px;
	margin: 22px auto;
	padding: 0px 20px;
	user-select: text;
}

body {
	background-color: #1d1840;
	color: #e0dfbf;
	font-size: 22px;
}

a {
	text-decoration: none;
	color: inherit;
	position: relative;
}

* {
    font-family: 'Perfect DOS', monospace;
    user-select: none;
}

html, body {
	height: 100%;
}
